* {
    margin: 0;
}

header {
    display: flex;
    height: 150px;
    background-color: #090A0E;
}

.container {
    background-color: #F3F5F9;
}

img {
    width: 100px;
    object-fit: contain;
}

header > .profile_image {
    flex: 0.3;
    display: flex;
    justify-content: center;
    margin: auto 0;
}

header > .profile_image > img {
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

header > .profile_name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.7;
    color: white;
}

nav {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    margin: 20px 0;
}

nav > a {
    width: 80px;
    text-align: center;
    margin: 0 20px;
    font-size: 1.2em;
    font-weight: 700;
    color: white;
    background-color: #9AB19A;
    padding: 5px 15px;
    border-radius: 5px;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.main_body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}
*/

.main_body > .cover_letter {
    color: white;
    background-color: #090A0E;
    height: 80%;
    flex: 0.5;
    border-radius: 20px;
}

.side_card {
    height: 300px;
    width: 200px;
    background-color: #090A0E;
    position: fixed;
    left: 0;
    top: 35vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 30px 30px 0;
}

.side_card > a {
    display: block;
    color: #9AB19A;
    font-size: large;
}

.skills_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills_container > h1 {
    width: 50%;
    align-items: center;
    justify-content: center;
}

.skills_row {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.skills_row > .skill_logo {
    margin: 25px;
}

/*--------------------About page-----------------------*/

.about_me {
    width: 50%;
    line-height: 1.6;
    color: white;
    background-color: #090A0E;
    margin: 100px auto 0 auto;
    padding: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

h1 {
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

.qualifications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qual {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    color: white;
    background-color: #090A0E;
    width: 60%;
    height: 250px;
}

.qual > img {
    width: 300px;
}

.qual_info {
    text-align: center;
    margin: auto 0;
}

.hobbies {
    font-size: 1.6em;
    line-height: 1.6;
    width: 50%;
    margin: auto;
}




/*--------------------------Resume page--------------*/

.download_button {
    display: flex;
    justify-content: center;
}

button {
    padding: 20px;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    background-color:#9AB19A;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}


.resume {
    color: #c0b7b1;
    background-color: #090A0E;
    font-size: 1.3em;
    line-height: 1.6;
    width: 80%;
    margin: auto;
    border-radius: 20px;
}

.resume > h1 {
    width: 100%;
    padding: 20px 40px;
    margin: 0;
    text-align: left;
    font-size: 1.3em;
}

.resume > .education {
    padding-left: 40px;
}

.resume > h5 {
    font-weight: normal;
}

.resume > a:link {
    text-decoration: #c0b7b1 ;
}

.resume > ul> a:visited {
    text-decoration-color: #c0b7b1;
    text-decoration-line: underline;
}

.resume > a {
    color: #c0b7b1;
}

.skills > span {
    font-weight: bold;
}

.last_bullet {
    margin-bottom: 20px;
}

/*--------------------------Achievements---------------------*/

.certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
}

.cert_image {
    display: flex;
    justify-content: center;
}

.cert_image > img {
    width: 70%;

    margin: 40px 0;
}

/*-------------------------Projects----------------------*/

.projects {
    width: 60%;
    margin: auto;
    line-height: 2em;
    font-size: 1.5em;
}

.projects > h3 {
    margin: 20px 0;
    color: #090A0E;

}

.projects > a {
    color: #090A0E;
}

/*----------------------- Footer -----------------------*/
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    color: white;
    background-color:#090A0E;
}



/*----------------------new home page ----------------*/
.landing_window {
    height: 100vh;
    background-color: #DBDBD6;
}

.intro {
    display: flex;
    align-items: center;
    width: 80%;
    height: 700px;
    margin: auto;
}

.intro_image {
    opacity: 0.6;
    flex: 0.5;
}

.intro_image > img {
    width: 100%;
    object-fit: contain;
}

.intro_bio {
    flex: 0.5;
    color: #BE431F;
    text-align: center;
}

.intro_bio > h1 {
    margin: 0;
    width: 100%;
}


/*------------------------------------home_new1 and index page--------------------------------*/
.landing_view {
    height: 100vh;
    background-color: #fff;
}

.bio_section {
    width: 60%;
    margin: auto;
    display: flex;
    text-align: center;
}

.bio {
    width: 100%;
    line-height: 2.5em;
}

.skills_title {
    width: 100%;
    height: 150px;
    color: white;
    background-color: black;
    font-size: 2.5em;
    display: flex;
    text-align: center;
    align-items: center;
}

.skills_container {
    width: 60%;
    margin: auto;
}

.skill {
    display: flex;
    width: 90%;
    text-align: center;
    align-items: center;
}
.skill_name {
    flex: 0.5;
}

.skill_logo {
    flex: 0.5;
}

.skill_logo > img {
    width: 75px;
    object-fit: contain;
    margin: 10px 0;
    border-radius: 10px;
}

.skill {
    border-bottom: 1px solid grey;
}