* {
    margin: 0;
}

.landing_view {
    height: 100vh;
    background-color: #fff;
}

header {
    display: flex;
    height: 150px;
    background-color: #090A0E;
    border-bottom: 2px solid #c5c4c4;
}

img {
    width: 100px;
    object-fit: contain;
}

header > .profile_image {
    flex: 0.3;
    display: flex;
    justify-content: center;
    margin: auto 0;
}

header > .profile_image > img {
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

header > .profile_name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.7;
    color: white;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: black;
}

nav > a {
    width: 80px;
    text-align: center;
    padding: 15px 15px;
    font-size: 1.2em;
    font-weight: 700;
    color: white;
}

nav > a:hover {
    border-left: 1px solid #c5c4c4;
    border-right: 1px solid #c5c4c4;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.bio_section {
    display: flex;
    width: 60%;
    margin: auto;
    display: flex;
    text-align: center;
}

.bio {
    width: 70%;
    line-height: 2.5em;
    margin: 0 auto;
}

.skills_title {
    width: 100%;
    height: 150px;
    color: white;
    background-color: black;
    font-size: 2.5em;
    display: flex;
    text-align: center;
    align-items: center;
}

.skills_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
}

.skills_container > h1 {
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 40px auto 10px auto;
}

.skill {
    display: flex;
    width: 90%;
    height: 100px;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid #c5c4c4;
}

.skill_name {
    flex: 0.5;
}

.skill_logo {
    flex: 0.5;
}

.skill_logo > img {
    width: 75px;
    object-fit: contain;
    margin: 10px 0;
    border-radius: 10px;
}

.skill_logo_big > img {
    width: 50px;
}

/*--------------------About page-----------------------*/

.about_me {
    width: 50%;
    line-height: 1.6;
    color: black;
    margin: 100px auto 0 auto;
    padding: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

h1 {
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

.qualifications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qual {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    color: black;
    background-color: #fff;
    width: 60%;
    height: 250px;
}

.qual_institute {
    display: flex;
    text-align: center;
    align-items: center;
    flex: 0.4;
}

.qual_institute > img {
    width: 90%;
    border-radius: 20px;
}

.qual_info {
    flex: 0.4;
    text-align: center;
    margin: auto 0;
}

.hobbies {
    font-size: 1.6em;
    line-height: 1.6;
    width: 50%;
    margin: auto;
}

/*--------------------------Resume page--------------*/

.download_button {
    display: flex;
    justify-content: center;
}

button {
    padding: 20px;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    background-color:#9AB19A;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}


.resume {
    color: #c0b7b1;
    background-color: #090A0E;
    font-size: 1.3em;
    line-height: 1.6;
    width: 80%;
    margin: auto;
    border-radius: 20px;
}

.resume > h1 {
    width: 100%;
    padding: 20px 40px;
    margin: 0;
    text-align: left;
    font-size: 1.3em;
}

.resume > .education {
    padding-left: 40px;
}

.resume > h5 {
    font-weight: normal;
}

.resume > a:link {
    text-decoration: #c0b7b1 ;
}

.resume > ul> a:visited {
    text-decoration-color: #c0b7b1;
    text-decoration-line: underline;
}

.resume > a {
    color: #c0b7b1;
}

.skills > span {
    font-weight: bold;
}

.last_bullet {
    margin-bottom: 20px;
}

/*--------------------------Achievements---------------------*/

.certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
}

.cert_image {
    display: flex;
    justify-content: center;
}

.cert_image > img {
    width: 70%;

    margin: 40px 0;
}

/*-------------------------Projects----------------------*/

.projects {
    width: 60%;
    margin: auto;
    line-height: 2em;
    font-size: 1.5em;
}

.projects > h3 {
    margin: 20px 0;
    color: #090A0E;

}

.projects > a {
    color: #090A0E;
}

/***********************todo page***********************/

#getToDoContainer {
    width: 100%;
    height: auto;
}

#getToDoContainer button {
    display: block;
    width: 75%;
    margin: 20px auto;
}

/* #getToDoContainer button:hover {
    opacity: 0.6;
} */

#getToDoContainer button:active {
    background-color: #42855B;
}

#displayAllToDo {
    width: 100%;
    height: auto;
    background-color: #9AB19A;
}

#getToDo {
    display: block;
    height: 100px;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    
}

p {
    height: 50px;
    width: 100%;
}

/*----------------------- Footer -----------------------*/
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    color: white;
    background-color:#090A0E;
}

/*------------------------------------home_new1 and index page--------------------------------*/
